
<h1>Stupid Coaching<h1>

<div class="box">
  <h2><%= params[:question] %><h2>
  <p>-You<p>
</div>

<div class="box">
  <h2><%= @response %><h2>
  <p>-Your stupid coach<p>
</div>
<div class="link">
  <%= link_to "Ask Coach another question.", ask_path %>
</div>
